* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

#about-me {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
