* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

li {
  font-size: 16px;
  color: #323232;
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

#about-me {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

#projects ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#projects li {
  font-size: 18px;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 20px;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-me-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-photo img {
  width: 500px;
  height: 500px;
  border-radius: 4%;
  object-fit: cover;
}

#time-container {
  font-size: 24px;
  font-weight: 600;
  color: #323232;
}
