* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 40px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

li {
  font-size: 16px;
  color: #323232;
  font-weight: 600;
}

li a {
  color: #323232;
  font-size: 24px;
  text-decoration: none;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  align-items: flex-start;
}

#about-me {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

#projects ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

#projects li {
  font-size: 18px;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 20px;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-me-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-photo img {
  width: 500px;
  height: 500px;
  border-radius: 4%;
  object-fit: cover;
}

.contact-info a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

#time-container {
  font-size: 24px;
  font-weight: 600;
  color: #323232;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode li,
body.dark-mode li a,
body.dark-mode #time-container {
  color: #ffffff;
}

body.dark-mode .contact-info a {
  color: #ffffff;
  font-size: 30px;
}

/* Responsive styles */
@media (max-width: 1000px) {
  #about-me {
    flex-direction: column;
  }

  .about-me-photo img {
    width: 100%;
    height: auto;
  }
}
